---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=e55ad787ce987bb202239a04c670630a&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1596309651,"sunrise":1596283164,"sunset":1596334374,"temp":303.45,"feels_like":299.69,"pressure":1026,"humidity":17,"dew_point":275.7,"uvi":10,"clouds":20,"visibility":10000,"wind_speed":3.1,"wind_deg":330,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1596308400,"temp":303.45,"feels_like":299.85,"pressure":1026,"humidity":17,"dew_point":275.7,"clouds":20,"visibility":10000,"wind_speed":2.88,"wind_deg":89,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1596312000,"temp":304.17,"feels_like":300.23,"pressure":1022,"humidity":16,"dew_point":275.43,"clouds":10,"visibility":10000,"wind_speed":3.3,"wind_deg":50,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1596315600,"temp":305.19,"feels_like":300.7,"pressure":1018,"humidity":15,"dew_point":275.34,"clouds":4,"visibility":10000,"wind_speed":4.06,"wind_deg":60,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.07},{"dt":1596319200,"temp":305.29,"feels_like":299.52,"pressure":1016,"humidity":16,"dew_point":276.32,"clouds":22,"visibility":10000,"wind_speed":6.13,"wind_deg":40,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0.15},{"dt":1596322800,"temp":298.08,"feels_like":294.7,"pressure":1015,"humidity":38,"dew_point":282.8,"clouds":38,"visibility":10000,"wind_speed":4.75,"wind_deg":291,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.42,"rain":{"1h":0.41}},{"dt":1596326400,"temp":298.4,"feels_like":297.21,"pressure":1017,"humidity":36,"dew_point":282.59,"clouds":48,"visibility":10000,"wind_speed":1.43,"wind_deg":242,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.59,"rain":{"1h":0.19}},{"dt":1596330000,"temp":294.42,"feels_like":290.91,"pressure":1019,"humidity":51,"dew_point":284.11,"clouds":88,"visibility":10000,"wind_speed":5.37,"wind_deg":41,"weather":[{"id":804,"main":"Clouds","descrip[...]
