---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=e55ad787ce987bb202239a04c670630a&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1596314481,"sunrise":1596283164,"sunset":1596334374,"temp":302.61,"feels_like":298.97,"pressure":1020,"humidity":18,"dew_point":275.83,"uvi":10,"clouds":0,"visibility":10000,"wind_speed":2.96,"wind_deg":56,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.59}},"hourly":[{"dt":1596312000,"temp":302.61,"feels_like":298.97,"pressure":1020,"humidity":18,"dew_point":275.83,"clouds":0,"visibility":10000,"wind_speed":2.96,"wind_deg":56,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1596315600,"temp":304.05,"feels_like":299.66,"pressure":1018,"humidity":16,"dew_point":275.33,"clouds":0,"visibility":10000,"wind_speed":3.91,"wind_deg":57,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.24,"rain":{"1h":0.51}},{"dt":1596319200,"temp":304.67,"feels_like":298.3,"pressure":1017,"humidity":16,"dew_point":275.83,"clouds":18,"visibility":10000,"wind_speed":6.87,"wind_deg":48,"weather":[{"id":801,"main":"Clouds","description":"few
 [...]
