---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1596531848,"sunrise":1596542532,"sunset":1596593380,"temp":65.52,"feels_like":58.26,"pressure":1021,"humidity":56,"dew_point":49.42,"uvi":10.81,"clouds":20,"visibility":10000,"wind_speed":12.75,"wind_deg":230,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1596531600,"temp":65.52,"feels_like":62.96,"pressure":1021,"humidity":56,"dew_point":49.42,"clouds":20,"visibility":10000,"wind_speed":4.41,"wind_deg":341,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1596535200,"temp":67.93,"feels_like":64.76,"pressure":1019,"humidity":51,"dew_point":49.15,"clouds":57,"visibility":10000,"wind_speed":5.35,"wind_deg":349,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1596538800,"temp":68.68,"feels_like":66.4,"pressure":1017,"humidity":49,"dew_point":48.78,"clouds":78,"visibility":10000,"wind_speed":3.62,"wind_deg":357,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","i[...]
